Repository samvera/hyrax, pull requests merged in 2019-08, with the labels that each got.

#3902 fix match_valkyrie_ids_with_af_ids
  app/services/hyrax/file_set_csv_service.rb
  lib/wings/model_transformer.rb
  spec/matcher_tests/match_valkyrie_ids_with_af_ids_spec.rb
  spec/spec_helper.rb
  spec/support/matchers/match_valkyrie_ids_with_af_ids.rb
  spec/wings/model_transformer_spec.rb
Labels: bug, wings

#3905 Copy ids from attributes ending with _ids where the id is accessed through an object
  lib/wings/model_transformer.rb
  spec/fixtures/sample-file.pdf
  spec/fixtures/updated-file.txt
  spec/wings/model_transformer_spec.rb
Labels: wings

#3760 Universal viewer (UV) fails rendering png with transparent alpha channel
  app/indexers/hyrax/file_set_indexer.rb
  app/jobs/characterize_job.rb
  app/models/concerns/hyrax/file_set/characterization.rb
  app/models/concerns/hyrax/solr_document/characterization.rb
  app/presenters/hyrax/characterization_behavior.rb
  app/presenters/hyrax/displays_image.rb
  lib/generators/hyrax/riiif_generator.rb
  lib/generators/hyrax/templates/config/initializers/hyrax.rb
  lib/generators/hyrax/templates/config/initializers/riiif.rb
  lib/hyrax/configuration.rb
  spec/models/file_set_spec.rb
  spec/presenters/hyrax/file_set_presenter_spec.rb
  spec/requests/riiif_spec.rb
  spec/support/factory_helpers.rb
Labels: in progress
