Repository samvera/hyrax, pull requests merged in 2019-09, with the labels that each got.

#3929 Enable Hyrax::SolrService to support add, delete, and count methods through Valkyrie
  app/services/hyrax/solr_service.rb
  spec/services/hyrax/solr_service_spec.rb
Labels: wings

#3764 Index versioned file URI for IIIF, improve thumbnail cache behavior.
  app/controllers/concerns/hyrax/local_file_downloads_controller_behavior.rb
  app/indexers/hyrax/file_set_indexer.rb
  app/models/concerns/hyrax/solr_document/characterization.rb
  app/models/concerns/hyrax/solr_document/metadata.rb
  app/presenters/hyrax/displays_image.rb
  app/presenters/hyrax/file_set_presenter.rb
  app/services/hyrax/versioning_service.rb
  spec/controllers/hyrax/downloads_controller_spec.rb
  spec/indexers/hyrax/file_set_indexer_spec.rb
  spec/presenters/hyrax/file_set_presenter_spec.rb
  spec/services/hyrax/versioning_service_spec.rb
  spec/support/factory_helpers.rb
Labels: in progress

#3931 [wings] Remove `convert_class_name_to_valkyrie_resource_class`
  lib/wings.rb
  lib/wings/model_transformer.rb
  spec/wings/model_transformer_spec.rb
Labels: wings

#3948 Split out functionality behind ModelTransformer
  lib/wings.rb
  lib/wings/attribute_transformer.rb
  lib/wings/model_transformer.rb
  lib/wings/orm_converter.rb
  lib/wings/transformer_value_mapper.rb
  spec/wings/attribute_transformer_spec.rb
  spec/wings/model_transformer_spec.rb
  spec/wings/orm_converter_spec.rb
  spec/wings/valkyrie/persister_spec.rb
  spec/wings/valkyrie/query_service_spec.rb
Labels: wings

#3996 Remove stale README badges
  README.md
Labels: backport needed

#4012 [wings] Round trip registered valkyrie native classes
  lib/wings.rb
  lib/wings/active_fedora_converter.rb
  lib/wings/model_registry.rb
  lib/wings/orm_converter.rb
  spec/support/book_resource.rb
  spec/wings/active_fedora_converter_spec.rb
  spec/wings/model_transformer_spec.rb
  spec/wings/orm_converter_spec.rb
  spec/wings/valkyrie/persister_spec.rb
  spec/wings/valkyrie/query_service_spec.rb
Labels: wings

#4019 prefer pattern of setting use_valkyrie in the initializer
  app/actors/hyrax/actors/file_actor.rb
  app/services/hyrax/solr_service.rb
  spec/services/hyrax/solr_service_spec.rb
  spec/valkyrie/indexing/solr/indexing_adapter_spec.rb
Labels: wings

#4020 refactor wings overrides of custom queries
  app/services/hyrax/custom_queries/find_access_control.rb
  app/services/hyrax/custom_queries/find_many_by_alternate_ids.rb
  app/services/hyrax/custom_queries/wings.rb
  lib/wings.rb
  lib/wings/services/custom_queries/find_access_control.rb
  lib/wings/services/custom_queries/find_many_by_alternate_ids.rb
  spec/services/hyrax/custom_queries/find_access_control_spec.rb
  spec/services/hyrax/custom_queries/find_many_by_alternate_ids_spec.rb
  spec/wings/services/custom_queries/find_access_control_spec.rb
  spec/wings/services/custom_queries/find_many_by_alternate_ids_spec.rb
Labels: wings

#4014 add file_converter_service which converts the metadata between AF:File and FileMetadata resource
  app/models/hyrax/file_metadata.rb
  lib/wings/services/file_converter_service.rb
  spec/wings/services/file_converter_service_spec.rb
Labels: wings

#3937 Update wings persister to make a pending test pass
  spec/wings/valkyrie/persister_spec.rb
Labels: wings

#4017 Define a schema sharing pattern for Hyrax/Valkyrie
  app/models/hyrax/metadata/basic.rb
  app/models/hyrax/metadata/core.rb
  app/models/hyrax/schema.rb
  spec/models/hyrax/schema_spec.rb
Labels: wings

#4023 Add find_file_metadata custom queries
  app/models/hyrax/file_metadata.rb
  app/services/hyrax/custom_queries/find_file_metadata.rb
  lib/wings.rb
  lib/wings/services/custom_queries/find_file_metadata.rb
  lib/wings/services/file_converter_service.rb
  spec/services/hyrax/custom_queries/find_file_metadata_spec.rb
  spec/wings/hydra/works/services/add_file_to_file_set_spec.rb
  spec/wings/services/custom_queries/find_file_metadata_spec.rb
  spec/wings/services/file_converter_service_spec.rb
Labels: wings

#3952 [wings] Remove method missing
  lib/wings/hydra/pcdm/models/concerns/pcdm_valkyrie_behavior.rb
Labels: wings

#4033 Provide a default unauthorized.png
  app/assets/images/unauthorized.png
Labels: backport needed

#4039 Save file_set using valkyrie and pass use_valkyrie to file_actor
  app/actors/hyrax/actors/file_set_actor.rb
  app/models/concerns/hyrax/file_set/characterization.rb
  spec/actors/hyrax/actors/file_set_actor_spec.rb
Labels: wings
