Repository samvera/hyrax, pull requests merged in 2020-01, with the labels that each got.

#4183 Support `#find_all_by_model` query in Wings
  lib/wings/valkyrie/query_service.rb
  spec/wings/valkyrie/query_service_spec.rb
Labels: wings

#4216 Still spicy?
  lib/wings.rb
Labels: Effort: Moderate, api, backport needed, blocker, enhancement, epic, ready, wings

#4224 Plant-based spicy
  lib/wings.rb
Labels: breadcrumbs, enhancement, ready, wings
